p Dear #{seller},
p Please see trade details as follows:
p Buy/Sell: Sell
p Product: #{product_code}
p Contract: #{contract}
p Price: #{price}
p Strike(if applicable): #{strike}
p Instrument: #{instrument}
p Quantity: #{qty} lots
p Size: #{size} MT
p Trader: #{trader}
p Account: #{account}
p Commission: #{commission}USD/MT (#{commission*size}USD)
p
p Best Regards,
p Bright Point International Futures (SG) Pte Ltd
p 3 Anson Road, #26-01, Springleaf Tower, Singapore 079909
p HP: (65) 98588990
p Email: whwang@bpifinancial.com
