p Dear #{seller},
p Please see trade details as follows:
p Buy/Sell: Sell
p Product: #{product_code}
p Contract: tbc
p price: #{price}
p Quantity: #{qty}
p Trader: #{trader}
p Account: #{account}
p Commission: #{commission}

